{
  "ConnectionStrings": {
    "!!!VbookDbContext": "data source=localhost;initial catalog=NAME;integrated security=false;User Id=sa;Password=Security=100;multipleactiveresultsets=True",
    "VbookDbContext": "Server={{pg_host}};Port={{pg_host_port}};Database={{pg_base}};User Id={{pg_user}};Password={{pg_pass}};"
  }
}

