[Service]
#ApplicationUrl=http://{{ ansible_host }}/asu/SMSITLoader
SessionTimeout=5
Name=asu
DisplayName=asu
HTTPPort=8625
TCPPort=8825
NativeHTTPPort=9880
UseTCPKeepAlive=1
TCPKeepAliveProbeTime=5000
TCPKeepAliveProbeInterval=1000
ContractorLogic=1

[DBConnection]
Driver=postgres
HostName={{ ansible_host}}
Database=asureo
User_Name=postgres
Password=postgres
Port=5432

[DBPool]
DBPoolSize=50
DBPoolWaitTimeoutMS=3000
DBPoolCleanupDelayMinutes=5
DBPoolCleanupHangingMinutes=10
DBPoolConnectionLifeTimeHours=2

[Logger]
Level=debug
LogsFolder=C:\server\Logs
Format=|
LogWebMethodCalls=True
ExcludedLogWebMethods=Ping,GetNotify
IntegrationWebCalls.Level=debug
IntegrationWebCalls.FileName=WebCalls
InternalWebCalls.Level=debug
InternalWebCalls.FileName=WebCalls
ShedulerTasks.FileName=ShedulerTasks

[Scheduler]
Duration=500
StartPause=10000

[SchedulerTasks]
OutTransportTask=60
InTransportTask=60
CheckAckTimeoutTask=60
ClearDataTask=86400,01:00
ArchiveZVKTask=86400,01:30

[AdditionalFunctions]
CopyRepairs=1
ScheduleCreateWarning=1
CreateBindRepairs=1
ConsiderChilds=1
IsRepairDiffActive=1
IsAdjustmentDateEditable=1
UseInsideReglament=1
EnableSendOpenCloseMsgFromAnyLevel=1

[Key]
Instance=asureo
KeyType=crypto

